main {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

button {
  width: max-content;
  margin-bottom: 1rem;
}

img {
  border-radius: 0.25rem;
  height: 20rem;
  width: 20rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
